.about {
    padding-bottom: 0;

    @media screen and (min-width: 768px) {
        
    }
}

.about__list {
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
    }

    @media screen and (min-width: 1200px) { 
        display: flex;
        flex-wrap: nowrap;
    }
   
}

.about__item {
    @media screen and (min-width: 480px) {
        &:not(:last-child){
        margin-bottom: 30px;
        }
    }

    @media screen and (min-width: 768px) {
        width: 354px;
        &:not(:nth-child(2n)){
        margin-right: 30px;
        }
    }

    @media screen and (min-width: 1200px) {
        width: 270px;
        &:not(:last-child){
        margin-right: 30px;
        }
    }
}
/* Основная часть секции Наши преимущества*/
.about__title {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    letter-spacing: $primary-letter-spacing;
    color: getColorText('title');
}

.about__text {
    margin-top: 10px;

    font-size: 14px;
    line-height: 24px;
    letter-spacing: $primary-letter-spacing;
}

.about__icon-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 120px;
    margin-bottom: $card-set-gap;

    background-color: #f5f4fa;
    border-radius: 4px;
}