.client__list {
    display: flex;
}

.client__item:not(:last-child) {
    margin-right: $card-set-gap;
}

.client__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;

    border: 1px solid #afb1b8;
    border-radius: 4px;
    fill: getFill('primary-fill');

    transition: fill $animation-transition, border-color $animation-transition;

    &:hover,
    &:focus {
        fill: getFill('blue-fill');
        border-color: getColorText('hover');
    }
}